@model IEnumerable<DragonSushi_ASP.NET.ViewModel.ProdutoViewModel>

@{ ViewBag.Title = "MostrarCardapio"; }

<h2>Mostrar Cardapio</h2>


<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Produto.nomeProd</td>
    <td>@item.Produto.imgProd</td>
    <td>@item.Produto.descrProd</td>
    <td>@item.Produto.preco</td>


</tr>}

</table>
