@model IEnumerable<DragonSushi_ASP.NET.ViewModel.DeliveryViewModel>

@{ 
    ViewBag.Title = "HistoricoPedido"; 
}

<main class="order-history">
    <div class="container">
        <h1 class="order-history__title">HISTÓRICO DE PEDIDOS</h1>
    </div>
    <div class="container flex">
        <table class="table">
            <tr>
                <th>DATA</th>
                <th>PEDIDO</th>
                <th>VALOR TOTAL</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Delivery.dataDelivery</td>
                    <td>@item.Delivery.itens itens</td>
                    <td>R$@item.Pagamento.total</td>
                </tr>
            }
        </table>
    </div>
</main>