@{ ViewBag.Title = "PedidoFinalizado";
                Layout = null; }

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <meta name="keywords" content="Restaurante, Japonês, Delivery, Sushi, Temaki, ">
    <meta name="description" content="Faça já seu pedido na Dragon Sushi! Confira nossos pratos, ofertas e muito mais!">
    <meta name="author" content="Gabriel S. Evangelista, Henrique R. Pereira, Guilherme Ferreira, Gustavo Basilio, Maria Eduarda G. Lima, Guilherme Lemes">

    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!--
        Fonts: Montserrat, Roboto and Patua One
        font-family: 'Montserrat', sans-serif;
          - Font weight: 300, 400, 600 and 700
        font-family: 'Roboto', sans-serif;
          - Font weight: 300, 400 and 700
        font-family: 'Patua One', cursive;
          - Font weight: 400
        font-family: 'Open Sans', sans-serif;
          - Font weight: 300, 400 and 700
    -->

    <script defer src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script defer src="js/jquery-3.6.1.min.js"></script>
    <script defer src="js/script.js"></script>

    <title>Dragon Sushi - Restaurante Japonês</title>
</head>
<body class="completed-order-page">
    <a class="logo" href="/Produto/ConsultarCategoria"><img src="/images/logo.png" alt=""></a>
    <main class="completed-order">
        <picture class="background-image">
            <img src="~/images/completed-order/background-completed-order.png" alt="">
        </picture>
        <section class="text-completed-order">
            <div class="flex">
                <h1 class="text-completed-order__title">Pedido realizado com <br class="line-break">sucesso!</h1>
                <iconify-icon icon="fluent:bowl-chopsticks-24-filled" flip="horizontal"></iconify-icon>
            </div>
            <p>Fique atento, seu pedido <br class="line-break">chegará em alguns instantes</p>
            <p class="text-completed-order__paragraph"><a href="~/Produto/ConsultarCategoria">Voltar para página inicial</a></p>
        </section>
    </main>
</body>
</html>

